body {
  padding: 10px;
  width: 400px;
  font-family: "Helvetica Neue", Helvetica;
}

#imageList:after {
  content: '';
  display: table;
  clear: both;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
}

#imageFinder {
  margin-top: 1em;
}

#imageList {
  margin-top: 1em;
  margin-left: -.1em;
  margin-right: -.1em;
}

#imageList > .preview {
  height: 10em;
  width: auto;
  display: block;
  float: left;
  padding: 0 .2em;
}

.form-control {
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  outline: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0 1em;
  color: #fff;
  text-transform: uppercase;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 5px;
}

.btn-ok {
  background-color: #3adb76;
}
