body {
  padding: 10px;
  width: 400px;
  font-family: "Helvetica Neue", Helvetica;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.3em;
}

#imageFinder {
  margin-top: 1em;
}

.form-control {
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  outline: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0 1em;
  color: #fff;
  text-transform: uppercase;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 5px;
}

.btn-ok {
  background-color: #3adb76;
}
